#1- All type of erreos and its reason and exmple.

###1- Name erroe ( eg- Print that is reserved key word but in this P is in uppercase so it is wrong we must start print with lowercase.

Print= Wrong
print=Right.

###2- Variable name start with number that is wrong,

10tan= Wrong
tan10= Right.

##3- Variable starting with special character

*a= Wrong
a= Right

In [ ]:
a=10
b=10
Print(a+b)

NameError: ignored

In [ ]:
print(a+b)

20

In [ ]:
10tan=50
print(type(10tan))

SyntaxError: ignored

In [ ]:
tan10=50
print(type(tan10))

<class 'int'>

In [ ]:
*x=30
y=15

print(type(*x), type(y))

SyntaxError: ignored

In [ ]:
x*=30
y=15
print(type(y)

SyntaxError: ignored

In [ ]:
x=30
y=15
print(type(y))

<class 'int'>

In [ ]:
print("my name is 
yogemdra")

SyntaxError: ignored

In [ ]:
print("""my name is
 yogendra """)

my name is
 yogendra

#2- Take input from users A & B and print their sum, mul. div, and square.

In [ ]:
a=50
b=15
print(a+b,a-b)

65 35

In [ ]:
print(a**2, b**2)

2500 225

In [ ]:
print(a*b,a/b)

750 3.3333333333333335

In [ ]:
print(a//b)

3

In [ ]:
a=input("please enter any number")
b=input("please enter any number")
c=a+b
print(f"sum of a and b is: {c}")

please enter any number50
please enter any number15
sum of a and b is: 5015

#-3- Create email by user input.( last name.firstname@gmail.com)

In [ ]:
firstname=input("enter your first name")
lastname=input("enter your last name")
print(f"{lastname}.{firstname}@gmail.com")

enter your first nameyogendra
enter your last nametanwar
tanwar.yogendra@gmail.com

#4-Try to print following lines-
1- Hi my name is Sunny.
2- My address is 22/3.
3- I earn 20$ daily .

In [8]:
Name="Hi my name is summy"
address= "My address is 22/3 Bangalore"
earning="I earn 20$ daily"

print(Name,address,earning)

Hi my name is summy My address is 22/3 Bangalore I earn 20$ daily

In [12]:
print(Name)
print(address)
print(earning)

Hi my name is summy
My address is 22/3 Bangalore
I earn 20$ daily

#Que-5 User input to fill college form.

In [1]:

name=input("What is your Name")
address=input("Where are you from")
dob=input("What is your dob")
lastname=input("please write your last name")
firstname=input("please write your first name")

print(f"My name is:{name},I am from :- {address}city,My Date of birth is :- {dob}, Email id:- {lastname}.{firstname}@gmail.com")

What is your NameYogendra Tanwar
Where are you fromJaipur
What is your dob20Dec1999
please write your last nametanwar
please write your first nameyogendra
My name is:Yogendra Tanwar,I am from :- Jaipurcity,My Date of birth is :- 20Dec1999, Email id:- tanwar.yogendra@gmail.com

#Que-6 
Conver the following-

("22") into Int,
"22" into complex no

In [4]:
a="22"
type(a)

str

In [5]:
a=int("22")
type(a)

int

In [7]:
a=complex("22")
type(a)

complex

#Que 7-Reserved Key words in Python

Ans- There is 35 kind of key words are there in python that mean or use is already defined in python so we shold use them as keywords only.

we can get them by run help("keywords")

In [8]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not